* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    background-color: #f5f4ef;
}

main {
    position: relative;
    top: 95px;
}

h1 {
    text-align: center;
    padding: 5% 0 2%;
}
.category-title, .subcategory-title {
    font-size: 140%;
    color: #302214;
    padding-left: 7%;
    padding-bottom: 2%;
}
.category-title:hover, .subcategory-title:hover {
    color: #8c9086;
    text-decoration: overline;
}
.subcategory-title {
    font-size: 190%;
    padding-left: 9%;
}
.welcome {
    color: #575a54;
    margin: 0 10%;
    text-align: center;
}
.welcome h2 {
    margin-top: 2%;
}
.welcome h1 {
    color: #45451d;
    font-size: 250%;
}
.welcome p {
    width: 100%;
    font-size: 120%;
    line-height: 1.7;
}
fieldset {
    margin: 5% 0;
    padding: 3% 10% 5%;
    border-width: 5px;
    border-color: #dcdcdc;
}

/* header setting */
header {
    font-size: 130%;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11%;
}

/* hamburger menu */
header input {
    display: none;
}

header label {
    margin-left: 1.5%;
    display: none;
    cursor: pointer;
    font-size: larger;
    padding: 0 1%;
    border-style: solid;
    border-radius: 12%;
    border-color: #8c9086;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.05);
}

/* logo */
header .logo {
    position: relative;
    width: 200px;
    height: 95%;
    top: 0;
    left: 12%;
}
/* navigation bar */
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav a {
    padding: 0 35px;
    color: #7a7e74;
}

.header-nav a:hover {
    transform: scale(1.4);  /* make the element bigger without affecting others */
    color: #555548;
}

/* user & cart icons */
header .icons {
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .icons a {
    padding: 0 20px;
}

.icons a:hover {
    transform: scale(1.2);
}

/* body setting */
/* video part */
.video-background {
    position: relative;
}

.video-background video {
    width: 100%;
    z-index: -1;
}

.contact-icons {
    text-align: center;
    position: absolute;
    top: 80%;
    z-index: 1;
}

.contact-icons img {
    width: 4%;
    margin: 0 4%;
    filter: drop-shadow(4px 4px 8px #7e7c7c);
}

.contact-icons img:hover {
    transform: scale(1.3);
    filter: drop-shadow(4px 4px 8px #a2a09d);
}
/* categories setting */
.category {
    width: 100%;
    padding: 5% 0;
}

.book-container {
    display: flex;
    justify-content: space-around;
    padding: 6% 5%;
}
.non-fiction {
    padding-top: 9%;
}
.non-fiction .book-container {
    margin-right: 10%;
    background-color: #cec3b2;
}

.fiction h2 {
    text-align: end;
    padding-right: 10%;
}

.fiction .book-container {
    margin-left: 10%;
    background-color: #c8bb9e;
}
.others {
    padding-bottom: 20%;
}
.others .book-container {
    margin-right: 10%;
    background-color: #cec9ba;
}

.item img {
    width: 85%;
    border-radius: 2%;
    filter: drop-shadow(0 0 15px #333);
}
.item p {
    display: block;
    margin-top: 4%;
    font-size: 120%;
}
.item .book-title {
    font-weight: bold;
}
.item:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}
/* sub-category setting */
.tech .book-container, .business .book-container, .self-help .book-container {
    background-color: #cec3b2;
}
.horror .book-container, .fantasy .book-container, .science-fic .book-container {
    background-color: #c8bb9e;
}
/* footer setting */
footer {
    width: 100%;
    padding: 8%;
    background-color: #53524e;
}
.footer-logo {
    width: 10%;
    display: block;
    margin: 0 auto;
}
footer .logo-area p {
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 1%;
    color: #fff;
}
footer .logo-area hr {
    margin: 0 auto;
    width: 25%;
}
.footer-nav {
    width: 100%;
}
.footer-nav a{
    margin-top: 2%;
    color: #cec9ba;
    font-size: 110%;
}
.footer-nav a:nth-child(5):hover {
    color: #fff;
}

/* contact form setting */
.form-wrapper {
    font-size: 120%;
    border-style: solid;
    border-width: 1px;
    border-radius: 2%;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 1px 1px 7px #7a7e74;
    margin: 70px auto;
    margin-bottom: 100%; 
    padding: 5% 12%;
    max-width: 60%;
}
.form-wrapper h1 {
    color: #666a61;
}

.info-section {
    display: flex;
    align-items: center;
    margin: 8% 5%;
}
.info-section label, p {
    width: 60%;
}
input[type="text"], input[type ="email"], select{
    font-size: 80%;
    width: 80%;
}
.contact-pref label, .week-receive label{
    width: 40%;
}

label > input {
    margin-right: 10%;
}
textarea {
    width: 180%;
}

.btn-wrapper {
    text-align: center;
}
button {
    font-size: 90%;
    padding: 2%;
    margin: 3% 10%;
    cursor: pointer;
}
/* book detail page setting */
.breadcrumb {
    margin: 2% 3% 0;
    font-size: 110%;
}
.bookdetail-wrapper {
    margin: 5% 8% 15% 5%;
    padding: 6%;
    width: 90%;
    border-radius: 1.5%;
    background-color: #cec3b2;
    box-shadow: 0 0 10px #666a61;
}
.basic-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1.5%;
    border-radius: 1.5%;
    padding: 5% 5%;
    background-color: #f5f4ef;
    box-shadow: inset 0 0 15px -5px #1e1e1e;
}
.book-image img {
    width: 120%;
    height: 90%;
    box-shadow: 0 0 5px #666a61;
    border-radius: 1%;
}
.small-imgs {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 90%;
}
.small-imgs img {
    margin: 1.8% 1%;
    width: 70%;
    height: 80%;
    border-style: solid;
    border-width: .8px;
    border-radius: 1%;
}
.small-imgs img:hover {
    filter: brightness(110%);
}
.cart {
    margin-top: 42%;
    margin-right: 10%;
    font-size: 150%;
}
.cart p {
    margin-left: 10%;
    padding-bottom: 2%;
}
.cart button {
    width: 200%;
    height: 40%;
}
.detail-info h2 {
    font-size: xx-large;
}
.detail-info h4 {
    padding: 1%;
}
.detail-info .price {
    width: 100%;
    padding: 1%;
    font-size: 110%;
}
.author {
    font-size: 120%;
}

/* media query for tablet devices */
@media (max-width: 1023px) {
    .welcome span {
        display: none;
    }
    header {
        height: 9%;
    }
    .non-fiction .book-container, .others .book-container {
        margin-right: 0;
    }
    .fiction .book-container {
        margin-left: 0;
    }
    .fiction h2{
        text-align: start;
    }
    .book-container img {
        padding-left: 10%;
    }
    .book-container {
        padding: 6% 5% 20%;
    }
    /* book detail setting */
    .bookdetail-wrapper {
        width: 80%;
        margin: 5% auto 30%;
    }
    .basic-info {
        flex-wrap: wrap;
        position: relative;
    }
    .book-image img {
        max-width: 100%;
    }
    .small-imgs img {
        height: 100px;
        margin-bottom: 30px;
    }
    .cart {
        margin-top: 0;
        position: initial;
    }
    .cart button {
        width: 350%;
        height: 60%;
    }
    .cart .price {
        position: relative;
        left: 150%;
    }
}

/* media query for mobile devices */
@media (max-width: 768px) {
    /* header setting */
    header {
        height: 9%;
    }
    main {
        position: relative;
        top: 75px;
    }
    header label {
        display: block;
    }
    .header-nav {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #e6e4e3;
        flex-direction: column;
        display: none;
        padding: 2% 0;
        border: solid #c8bb9e;
    }
    .header-nav a {
        background-color: #f5f4ef;
        color: #302214;
        padding: 2%;
        border-style: solid;
        text-align: center;
        width: 95%;
        margin: 1.5% 1%;
        border-color: #8c9086;
        border-width: 1px;
    }
    .header-nav a:hover {
        transform: none;
    }
    #hambur-menu:checked ~ .header-nav{
        display: inherit;
    }
    header .icons a {
        padding-right: 0;
    }
    /* main elements setting */
    fieldset {
        width: 80%;
        margin: 2% auto;
    }
    .book-container {
        flex-direction: column;
        align-items: center;
    }
    .book-container img {
        padding-top: 10%;
        width: 90%;
    }
    /* book detail page setting */
    .bookdetail-wrapper {
        margin-bottom: 30%;
    }
    .basic-info {
        flex-direction: column;
        justify-content: space-between;
    }
    .small-imgs {
        flex-direction: row;
        align-content: space-between;
        margin: 20% 5% 5%;
    }
    .small-imgs img{
        width: 130%;
        height: 80px;
        margin: 0 15%;
    }
    .book-image img {
        max-width: 85%;
        max-height: 60%;
        margin: 3% 7% 25%;
    }
    .cart {
        position: initial;
        margin: auto 0;
    }
    .cart button {
        width: 80%;
    }
    .cart .price {
        position: initial;
        margin-left: 45%;
    }
    /* form setting */
    .info-section {
        display: initial;
    }
    .info-section label, p {
        display: block;
        width: 100%;
    }
    input[type="text"], input[type ="email"], select{
        width: 100%;
        margin: 2% 0 4%;
    }
    textarea {
        width: 100%;
    }
    .btn-wrapper {
        display: flex;
        flex-direction: row;
    }
    /* footer setting */
    footer {
        margin-top: 30%;
    }
    .footer-nav {
        font-size: 80%;
    }
}